{
  "current_interview_date_str": "",
  "enrollment_location_id": "",
  "logfile": "",

  "email_from": "",
  "email_to": [""],
  "email_server": "localhost",
  "email_port": 25,
  "email_username": "",
  "email_password": "",

  "__comment": "Below are optional:",
  "use_gmail": true,
  "gmail_password": "",
  "no_email": false,
  "no_spamming": true,

  "notify_osx": false,
  "twilio_account_sid": "",
  "twilio_auth_token": "",
  "twilio_from_number": "example: +18005551234",
  "twilio_to_number": "example: +18005551234"
}
